*{
    /* line-height: 40px; */
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}

/* navbar */
#navbar{
    position: fixed;
    /* margin-left: 10%; */
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-left:solid 1px black;
    border-right:solid 1px black;
    border-bottom:solid 1px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#navbar_left{
    position: absolute;
    /* top: 50%; */
    float: left;
    overflow: hidden;
    /* border: solid 1px black; */
    margin-left: 30px;
}

#navbar_left div{
    height: 50px;
    float: left;
    overflow: hidden;
}

#navbar_left div a{
    /* margin-top: 10px; */
    height: 50px;
    overflow: hidden;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
    float: left;
}

#navbar_right{
    height: 50px;
    top: 0;
    position: relative;
    float: right;
    /* border: solid 1px black; */
    overflow: hidden;
    margin-right: 30px;
}

.manu{
    height: 50px;
    line-height: 45px;
    float: left;
    /* border: solid 1px black; */
    margin-left: 50px;
}

.manu a{
    top: 30%;
    font-size: 20px;
    
    text-decoration: none;
    color: black;
    /* margin: 50%; */
}

.manu a:hover{
    text-shadow: 2px 2px 2px gray;
}

.nav{
    height: 100px;
}


/*intro*/
h1{
    padding-top: 100px
}

h2{
    padding-bottom: 40px
}

span{
    font-weight:bold;
    color:red;
}

p{padding: 40px 100px 10px 100px;}


h3{
    margin-top: 30px;
}

/*section continer*/
.container{
    padding-top:10px;
    margin-bottom: 300px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    border: solid 1px black;
    border-radius: 10px;
}

.container p{
    padding: 20px 100px 10px 100px;
}

iframe{
    width: 560px;
    height: 315px;
}

video{
    width: 500px;
}

/*footer*/
#footer{   
    padding: 10px;
    height: auto;
    margin-top: 20px;
}

#footer .SNS{
    width: 30px;
    height: 30px;
}

#footerp{
    margin-top: 30px;
}

.likediv h1{
    margin-bottom: 30px;
}

.dreamdiv h1{
    margin-bottom: 30px;
}

.divh{
    margin-bottom: 30px;
}

.introdiv{
    /* border: solid 1px blue; */
    padding-top: 80px;
}


.likediv{
    /* border: solid 1px green; */
    padding-top: 80px;
}


.dreamdiv{
    /* border: solid 1px red; */
    padding-top: 80px;
}

.none{
    display: none;
}




@media screen and (max-width: 767px) {
    *{
        /* line-height: 40px; */
        margin: 0;
        padding: 0;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    body{
        width: auto;
        margin: 0 auto;
        height: 100%;
    }

    img{
        width: 300px;
    }

    /* navbar */
    #navbar{
        position: fixed;
        /* margin-left: 10%; */
        width: 100%;
        height: 50px;
        margin: 0 auto;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        border-left:solid 1px black;
        border-right:solid 1px black;
        border-bottom:solid 1px black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #navbar_left{
        display: none;
    }
    
    #navbar_left div{
        display: none;
    }
    
    #navbar_left div a{
        display: none;
    }
    
    #navbar_right{
        height: 50px;
        top: 0;
        /* border: solid 1px black; */
        width: 90%;
        margin: 0 auto;
        margin-right: 5%;
        /* margin-left: 15%; */
    }
    
    .manu{
        float: left;
        height: 50px;
        line-height: 45px;
        width: 30%;
        margin: 0 auto;
        margin-left: 3%;
        /* border: solid 1px black; */
    }
    
    .manu a{
        top: 30%;
        font-size: 20px;
        text-decoration: none;
        color: black;
        /* margin: 50%; */
    }
    
    .manu a:hover{
        text-shadow: 2px 2px 2px gray;
    }
    
    .nav{
        height: 100px;
    }
    
    
    /*intro*/
    h1{
        padding-top: 100px
    }
    
    h2{
        padding-bottom: 40px
    }
    
    span{
        font-weight:bold;
        color:red;
    }
    
    p{padding: 40px 15% 10px 15%;}
    
    
    h3{
        margin-top: 30px;
    }
    
    /*section continer*/
    .container{
        padding-top: 10px;
        width: auto;
        margin: 0 auto;
        margin-bottom: 80px;
        border: solid 1px black;
        border-radius: 10px;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    .container p{
        padding: 20px 8% 10px 8%;
    }
    
    iframe{
        width: 70%;
        height: 70%;
    }
    
    video{
        width: 70%;
    }

    /*footer*/
    #footer{   
        padding: 10px;
        height: auto;
        margin-top: 20px;
    }
    
    #footer .SNS{
        width: 30px;
        height: 30px;
    }
    
    #footerp{
        margin-top: 30px;
    }
    

    /* section div */
    .likediv h1{
        margin-bottom: 30px;
    }
    
    .dreamdiv h1{
        margin-bottom: 30px;
    }
    
    .divh{
        margin-bottom: 30px;
    }
    
    .introdiv{
        /* border: solid 1px blue; */
        padding-top: 80px;
    }
    
    
    .likediv{
        /* border: solid 1px green; */
        padding-top: 80px;
    }
    
    
    .dreamdiv{
        /* border: solid 1px red; */
        padding-top: 80px;
    }
    
    .none{
        display: none;
    }
}